.text-center {
  text-align: center;
}

.done {
  text-decoration: line-through;
}

.img-responsive {
  width: 100%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.todo-list {
  height: 50px;
}